.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: block;
}

.line {
    height: 20px;
    padding: 10px;
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}